

div.title {
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color: #333;
    margin: auto;
}

.temp{
    margin: auto;
    text-align: center;
}

.email-input {
    width: 400px;
    margin: 0 auto;
}

.password-input {
    width: 400px;
    margin: 0 auto;
}

.firstname-input{
    width: 180px;
    margin:0 auto;

}
.lastname-input{
    width: 180px;
    margin: 0 auto;
    
}

.container{
    width: 400px;
    display: flex;
    position: relative;
    align-items: center;
    align-content:center;
    margin: auto;
    justify-content: space-between;
}
